*{
    margin: 0;
    padding: 0;
    color: #ffffff;
}
body{
    background-image: url('../img/bgRick.jpg');   
    background-repeat: no-repeat; 
    background-size: cover;
    background-attachment: fixed ;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
    
}
.search-wrap{
    display: flex;
    width: 100%;
    align-items: inherit;
    justify-content: space-evenly;
}

.character-wrap{
    display: flex;
    min-width: 600px;
    color: white;        
    height: 300px; 
    margin-top: 20px;  
    background: rgba(23,23,23,0.91);
    box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.75);
    border-radius: 20px 0px 20px 0px;
}
.character-wrap-info{
    display: flex;
    flex-direction: column;
    align-self: start;
    justify-content: space-evenly;
    height: 100%;
    margin-left: 15px;
    
}

#up{
    position: fixed;
    left: 10px;
    bottom: 10px;
    display: none;
    cursor: pointer;
}
#serxh{
    color: black;
}
